.menu-button {
      background-color: black;
      color: white;
      padding: 12px;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0,0,0,0.3);
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .button-section {
      max-width: 500px;
      margin: 0 auto 24px auto;
    }
    .main-button {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
      color: white;
      font-weight: bold;
      padding: 12px;
     box-shadow: 0 2px 8px rgba(0,0,0,0.1);
      margin-bottom: 16px;
      text-decoration: none;
    }
 .telegram {
      background: linear-gradient(to right, #2563eb, #1e40af);
    }
   .main-button img {
      width: 24px;
      height: 24px;
    }
           .questionitem {
        margin-bottom: 20px;
         font-size:20px;
            overflow-x:hidden;
          background-color: #fff;
            }
       .kqn {
     font-weight:bold;
     font-size:16px;
	}
        .correct { color: green; }
        .incorrect { color: red; }
         .clearr {
        font-size: 30px;
    }
   .marginl {
    margin:3%;
    }
    .h1 {
         text-align: center;
         background-color: yellow;
    }
  
    
    