 <header>
 	<script class="admoloScript" src="https://admolo.com/assets/ads/ad.js"></script>
        <div class="hcontainer">
           <div id="hbranding">
                <h1><span class="hhighlighth">TechAIStudy.com</span></h1>
            </div>
            <nav>
                <ul><li><a href="https://www.techaistudy.com">Home</a></li>
<li><a href="https://www.techaistudy.com/image-tool-and-pdf-generator.html">Tool</a></li></ul>
            </nav>
        </div>
    </header>
    
    
    
    






  
  